/*
Code ©2016 Ecstatic Living Institute All rights reserved.
Created by Conscious Apps Inc., November 2015 - June 2016, www.consciousapps.com
*/
<style>

/* Harmonize scrolling for iOS */
body,
.main-section,
.modal-background,
.registration-section,
.modals.register-mobile {-webkit-overflow-scrolling: touch;}

/* Rich-text formatting */
.w-input.input-field, .w-input.email-signup-input-field {-webkit-appearance: none;}
.w-richtext p {
	margin: 0 0 22px 0;
}
.w-richtext h1, .w-richtext h2, .w-richtext h3, .w-richtext h4, .w-richtext h5, .w-richtext h6 {margin-top:20px;}
.w-richtext.text-18,
.w-richtext.text-18 p,
.w-richtext.text-18 li {
	font-size: 18px;
	line-height: 24px;
}
.w-richtext p a strong {color: #800000; text-decoration:none;}
.w-richtext.text-18 p a,
a {color: #800000; text-decoration:none;}
.w-richtext.accordion-dropdown-text p {font-size: 18px; line-height: 24px;}
@media only screen and (max-device-width: 800px) {
	.w-richtext.accordion-dropdown-text p {font-size: 15px; line-height: 22px;}
}

/* ACCORDION LINE WRAP */
.accordion-toggle, .accordion-toggle-text {white-space: normal; word-wrap: break-word;}

/* FORM VALIDATION */
input.parsley-error,
textarea.parsley-error {
	color: #b00000;
	background-color: #fdd;
	border: 1px solid #b00000;
}
select.parsley-error {
	color: #b00000;
	border: 2px solid #b00000;
}
.parsley-errors-list,
.parsley-errors-list.filled {
	display: none;
}

/* INPUT ON FOCUS HIGHLIGHT */
.form-input:focus,
.form-input.stripe:focus,
.form-textarea:focus,
.email-input-field:focus {
	outline: none !important;
}
.radio:checked,
.form-select:focus {
	outline: none !important;
}
.form-input::placeholder,
.form-textarea::placeholder,
.email-input-field::placeholder {
	color: #555;
}

/* CUSTOM FORM SELECT */
.form-select {
	border-radius: 3px;
}

/* CUSTOM RADIO BUTTONS */
@media only screen and (max-device-width: 984px) {
	input[type=checkbox],
	input[type=radio   ] {
		display          : inline-block;
		width            : 1em;
		height           : 1em;
		border           : 0.0625em solid #333;
		border-radius    : 0.25em;
		background       : #FFF;
	}
	input[type=checkbox]:checked {
	  content     : '✓';
	  text-align  : center;
	  font-weight : bold;
		display          : block;
	  border           : 0.0625em solid #800000;
	  background       : #800000;
	}
	input[type=radio]:checked {
	  display          : block;
	  border           : 0.0625em solid #800000;
	  background       : #800000;
	}
}
</style>
